#cityLabel {
    -fx-font-weight: bold;
}

#temperatureLabel, #humidityLabel, #conditionLabel {
    -fx-padding: 0 5px;
}

#weatherIconImageView {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}
